<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Invoice Dashboard</title>
  </head>
  <body>
    <%= erb :'partials/navigation' %>

    <header class='header'>
      <h1 id='header_title'>Invoice Dashboard</h1></br>
    </header>

    <section class="all_cards">
      <section class='dashboard'>
        <h2>Status Percentages</br></h2>
        Pending: <%= @invoices.pending_percentage %></br>
        Shipped: <%= @invoices.shipped_percentage %></br>
        Returned: <%= @invoices.returned_percentage %></br>
      </section>
      <section class='dashboard'>
        <h2>Unit Prices</br></h2>
        Highest Unit Price: <a href = "../invoices/<%= @invoices.highest_unit_price %>"><%= @invoices.highest_unit_price %></a></br>
        Lowest Unit Price: <a href = "../invoices/<%= @invoices.lowest_unit_price %>"><%= @invoices.lowest_unit_price %></a></br>
      </section>
      <section class='dashboard'>
        <h2>Quantities</br></h2>
        Highest quantity: <a href = "../invoices/<%= @invoices.highest_quantity %>"><%= @invoices.highest_quantity %></a></br>
        Lowest quantity: <a href = "../invoices/<%= @invoices.lowest_quantity %>"><%= @invoices.lowest_quantity %></a></br>
      </section>
    </section>
  </body>
</html>
