<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Edit an Invoice</title>
  </head>
<body>
  <%= erb :'partials/navigation' %>
  <header class='header'>
    <h1 id='header_title'>Edit an Invoice</h1></br>
  </header>

  <section class='entry_form'>
    <form action="/invoices/<%= @invoice.id %>" method='POST'>
      <input type='hidden' name="_method" value='PUT' />
      Invoice Status:
        <select name="invoice[status]" id="statuses">
          <option value="Pending">Pending</option>
          <option value="Shipped">Shipped</option>
          <option value="Returned">Returned</option>
        </select></br>
        Invoice ID:
      <input type='text' name="invoice[merchant_id]" value="<%= @invoice.merchant_id %>"/><br/>
      <input type='submit', value='Edit'/>
      <a href="#" onclick="history.go(-1)">Cancel</a>
    </form>
  </section>

  <section class="merchants_list">
    <% @invoice.items.each do |item| %>
      <section class="display">
        <a href = "/items/<%=item.id%>"> <%= item.id %> </a>
        <%= item.title %>
        <%= item.format_price %></br>
        <%= item.quantity(@invoice) %></br>
      </section>
    <% end %>
  </section>
</body>
</html>
