<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Invoice</title>
  </head>
  <body>
  <%= erb :'partials/navigation' %>
  <header class='header'>
    <h1 id='header_title'>Invoice: <%= @invoice.merchant_id %> <%= @invoice.status %></h1></br>
    <div class="buttons">
      <div class="edit_button">
      <form action="/invoices/<%= @invoice.id %>/edit" method="GET">
        <input type="submit" value="edit"/>
      </form>
    </div>
      <form action="/invoices/<%= @invoice.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </div>
  </header>

  <section class="background">
    <a class="link_to_show" href="../merchants/<%= @invoice.merchant_id %>"><%=Merchant.find(@invoice.merchant_id).name%></a></br>
      <section class="merchants_list">
      <% @invoice.items.each do |item| %>
        <section class="display">
        <a href = "/items/<%=item.id%>"> <%= item.id %> </a>
        <%= item.title %>
        <%= item.format_price %></br>
        </section>
      <% end %>
      </section>
  </section>

  <section class="all_cards">
    <% @invoice.items.each do |item| %>
    <section class="card">
        <img src="<%= item.image %>"><br>
        <a class="link_to_show" href="items/<%= item.id %>"><%= item.title %></a>
        <%= item.price %>
      <form action="/items/<%= item.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </section>
    <% end %>
  </section>
  </body>
