<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Merchants Dashboard</title>
  </head>
  <body>
    <%= erb :'partials/navigation' %>

    <header class='header'>
      <h1 id='header_title'>Merchants Dashboard</h1></br>
    </header>
    <section class="background">
    <section class="all_cards">
      <div class="card">
    Merchant With Most Items: <%= @merchants.most_items.name %></br>
  </div>
  <div class="card">
    Merchant With Highest Priced Items: <%= @merchants.highest_priced_item %></br>
  </div>

    <% @merchants.each do |merchant|%>
    <div class="card">
      <div class="dashboard">
        <h1><a href="/merchants/<%= merchant.id %>"> <%= merchant.name %>: </a></h1></br>
        Item Count: </br> <%= merchant.items.count %></br></br>
        Average Item Price: </br><%= merchant.items.average_price %></br></br>
        Total Cost of Items: </br><%= merchant.items.total_price %></br>
      </div>
    </div>
    <% end  %>
  </section>
  </section>

  </body>
</html>
