<% @title="Merchant Dashboard" %>
<header class='header'>
  <h1 id='header_title'>Merchants Dashboard</h1></br>
</header>
<section class="background">
  <section class="all_cards">
  <div class="dashboard">
    <h2> Merchant With Most Items:</h2></br>
    <h3> <a href="/merchants/<%= @merchants.most_items.id %>"><%= @merchants.most_items.name %></a></br></h3>
  </div>
  <div class="dashboard">
    <h2> Merchant With Highest Priced Items:</h2></br>
    <h3><a href="/merchants/<%= @merchants.highest_priced_item.id %>"><%= @merchants.highest_priced_item.name %></a></br></h3>
  </div>
</section>

<section class="all_cards">
  <% @merchants.each do |merchant|%>
    <div class="card">
      <h2><a href="/merchants/<%= merchant.id %>"> <%= merchant.name %>: </a></h2></br>
      <h3>Item Count:</br></h3>
      <%= merchant.items.count %></br></br>
      <h3>Average Item Price:</br></h3>
      <%= merchant.items.average_price %></br></br>
      <h3>Total Cost of Items:</br></h3>
      <%= merchant.items.total_price %></br>
    </div>
  <% end  %>
  </section>
</section>
