<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Edit Page: <%= @merchant.name %></title>
  </head>
  <body>

    <%= erb :'partials/navigation' %>

    <header class='header'>
      <p id='header_title'>Edit A Merchant</p>
    </header>

    <form action="/merchants/<%= @merchant.id %>" method='POST'>
      <input type='hidden' name="_method" value='PUT' />
      <input type='text' name="merchant[name]" value="<%= @merchant.name %>"/><br/>
      <input type='submit', value='Edit'/>
    </form>
    <form action="/merchants/<%= @merchant.id %>" method='GET'>
      <input type='submit', value='Cancel'/>
    </form>

  </body>
</html>
