<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Items Dashboard</title>
  </head>
  <body>
    <%= erb :'partials/navigation' %>

    <header class='header'>
      <h1 id='header_title'>Items Dashboard</h1></br>
    </header>

    <section class="all_cards">
      <section class='card'>
        Total Item Count</br>
        <%= @items.total_count %>
      </section>
      <section class='card'>
        Average Price Per Item</br>
        <%= @items.average_price %>
      </section>
      <section class='card'>
        Newest Item: <%= @items.newest %></br>
        Oldest Item: <%= @items.oldest %>
      </section>
    </section>
  </body>
</html>
