<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Edit Item: <%= @item.title %></title>
  </head>
  <body>

    <%= erb :'partials/navigation' %>

    <header class='header'>
      <p id='header_title'>Edit An Item</p>
    </header>

    <form action="/items/<%= @item.id %>" method='POST'>
      <input type='hidden' name="_method" value='PUT' />
      <input type='text' name="item[title]" value="<%= @item.title %>"/><br/>
      <input type='text' name="item[description]" value="<%= @item.description %>"/><br/>
      <input type='text' name="item[price]" value="<%= @item.price %>"/><br/>
      <input type='text' name="item[image]" value="<%= @item.image %>"/><br/>
      <input type='submit', value='Edit'/>
    </form>
    <a href="#" onclick="history.go(-1)">Cancel</a>
  </body>
</html>
