<h1>Edit an Item</h1>
<form action="/items/<%= @item.id %>" method='POST'>
  <input type='hidden' name="_method" value='PUT' />
  <input type='text' name="item[title]" value="<%= @item.title %>"/><br/>
  <input type='text' name="item[description]" value="<%= @item.description %>"/><br/>
  <input type='text' name="item[price]" value="<%= @item.price %>"/><br/>
  <input type='text' name="item[image]" value="<%= @item.image %>"/><br/>
  <input type='submit', value='Edit'/>
</form>
<br><a href="/items">Return to Item Index</a>
