<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Items</title>
  </head>
  <body>
    <%= erb :'partials/navigation' %>

    <header class='header'>
      <h1 id='header_title'>Items</h1></br>
      <a class='create_button' href="/items/new">Create A New Item</a>
    </header>
    <section class="background">
      <section class="all_cards">
      <% @items.each do |item| %>
        <section class="card">
          <%= item.image %><br>
          <a class="link_to_show" href="items/<%= item.id %>"><%= item.title %></a>
          <%= item.price %>
        </section>
      <% end %>
    </section>
    </section>
  </body>
</html>
